<h1>Upload Images</h1>
<%= error_messages_for :product_images %>
<% form_for(:product_images, :url => { :action => "create" }, :html => { :multipart => true }) do |f| %>
<p>
<%= f.file_field :uploaded_data %>
</p>
<p>
<%= submit_tag "Create" %>
</p>
<% end %>
