<h1>Upload Images</h1>
<%= error_messages_for :product_images %>
<% fields_for @product.product_images.new do |i| %>
<p>
Image: <%= i.file_field :uploaded_data %><br /><br />
Description: <%= i.text_field :name %>
</p>
<% end %>