<h1>Products</h1>
<%= link_to "Add New Product", new_admin_product_path %>
<table>
<th>
	<td>ID</td>
	<td>Name</td>
	<td>&nbsp;</td>
	<td>Status</td>
<th>		
<%= render :partial => 'product', :collection => @products %>
</table>